*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
#wrapper{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right top,#051937,#1b3060,#36498b,#7b7c7b);
    margin: 0;
    padding: 0;
}
.container{
    border-radius: 5px;
    border: none;
    outline: none;
    width: 332px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    place-items: center;
    box-shadow: 0.1px 0.4px 0.1px #fff, 0.3px 0.4px 0.1px rgb(255, 255, 255);
}
#wrapper h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #3e72eb;
    margin-bottom: 30px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.button{
    width: 25%;
    padding: 30px 0;
    margin: auto;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
#display{
    justify-self: end;
    padding: 30px;
}
.button:hover{
    width: 100%;
    background: rgb(66, 65, 65);
    color: white;
}
.error{
    color: red;
}
.result{
    color: green;
}